.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }

  .container {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid hsl(0 0% 68% / 0.2);
    border-radius: 0.5rem;
  }

  .field,
  .value {
    padding: 0.5rem;
  }

  .app-container {
    display: flex;
    gap: 0.25rem;
  }

  .content-container {
    flex-basis: 65%;
  }

  .sidebar {
    flex-grow: 1;
  }

  .wrapper {
    max-width: 1220px;
  }
